@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #4b40ee;
  --color-foreground: #1a243a;
}

/* Apply the font globally */
@layer base {
  body {
    font-family: "MyCustomFont", sans-serif;
  }
}

.highcharts-xaxis .highcharts-tick {
  stroke-width: 0px;
}
/* .highcharts-button-pressed:hover rect {
  fill: var(--color-primary);
}
.highcharts-button-pressed:hover text {
  fill: #ffffff !important;
  font-size: 18px !important;
  font-weight: normal !important;
} */

/* .highcharts-button-hover rect {
  fill: #4b40ee !important;
}

.highcharts-button-pressed text {
  fill: #ffffff !important;
}

.highcharts-button-pressed:hover rect {
  fill: #4b40ee !important;
}

.highcharts-button-pressed:hover text {
  fill: #ffffff !important;
} */
.highcharts-button-selected rect {
  fill: #4b40ee !important;
}
.highcharts-button-selected text {
  color: #ffffff !important;
  fill: #ffffff !important;
}
