@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #4b40ee;
  --color-foreground: #1a243a;
}

/* Apply the font globally */
@layer base {
  body {
    font-family: "MyCustomFont", sans-serif;
  }
}
